@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --background: #f2f4f5;
  --background-lnb: #1c2025;
  --background-alert: #1c202580;
  --background-con: #ffffff;
  --foreground: #000;
  --primary1: #e7faf6;
  --primary2: #06c8bb;
  --primary3: #00b59f;
  --primary4: #0bc409;
  --secondary-1: #e7ecf3;
  --secondary-2: #d4dbe4;
  --secondary-3: #b0bccc;
  --secondary-4: #a9b7c9;
  --secondary-5: #70839e;
  --secondary-6: #60799a;
  --secondary-7: #334a6c;
  --secondary-8: #20325a;
  --secondary-9: #1a233b;
  --gray-0: #f6f7f8;
  --gray-1: #e9edf0;
  --gray-2: #dadee1;
  --gray-3: #cbcfd2;
  --gray-4: #adb1b4;
  --gray-5: #8f9396;
  --gray-6: #717578;
  --gray-7: #53575a;
  --gray-8: #35393c;
  --gray-9: #171b1e;
  --white: #fff;
  --gradient: linear-gradient(
    84deg,
    rgba(11, 196, 9, 0) -99.58%,
    #0bc409 -70.18%,
    #06c8bb 110.41%
  );
  --gradient-dark: linear-gradient(
      rgba(0, 136, 0, 0) -99.58%,
      rgba(0, 136, 0, 0.25) -70.18%,
      #06877a 110.41%
    ),
    linear-gradient(
      84deg,
      rgba(11, 196, 9, 0) -99.58%,
      #0bc409 -70.18%,
      #06c8bb 110.41%
    );

  --radius: 0.5rem;
  --sidebar-width: 16rem;
}

html {
}
html,
body {
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard", sans-serif;
}
::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--primary4);
}
::-webkit-scrollbar-button {
}
#__next {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
}
.dark {
  --background: #e8ebee;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
}
h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}

@layer base {
  :root {
    --sidebar-background: var(--gray-9);
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    /* @apply border-border; */
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}
