@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --background: theme("colors.background.DEFAULT");
  --background-lnb: theme("colors.background.lnb");
  --background-alert: theme("colors.background.alert");
  --background-con: theme("colors.background.con");
  --foreground: theme("colors.foreground");
  --primary-cyan-light: theme("colors.primary.cyan-light");
  --primary-cyan: theme("colors.primary.cyan");
  --primary-cyan-dark: theme("colors.primary.cyan-dark");
  --primary-green: theme("colors.primary.green");
  --secondary-100: theme("colors.secondary.1");
  --secondary-200: theme("colors.secondary.2");
  --secondary-300: theme("colors.secondary.3");
  --secondary-400: theme("colors.secondary.4");
  --secondary-500: theme("colors.secondary.5");
  --secondary-600: theme("colors.secondary.6");
  --secondary-700: theme("colors.secondary.7");
  --secondary-800: theme("colors.secondary.8");
  --secondary-900: theme("colors.secondary.9");
  --gray-0: theme("colors.gray.0");
  --gray-1: theme("colors.gray.1");
  --gray-2: theme("colors.gray.2");
  --gray-3: theme("colors.gray.3");
  --gray-4: theme("colors.gray.4");
  --gray-5: theme("colors.gray.5");
  --gray-6: theme("colors.gray.6");
  --gray-7: theme("colors.gray.7");
  --gray-8: theme("colors.gray.8");
  --gray-9: theme("colors.gray.9");
  --white: #fff;
  --gradient: linear-gradient(
    84deg,
    rgba(11, 196, 9, 0) -99.58%,
    #0bc409 -70.18%,
    #06c8bb 110.41%
  );
  --gradient-dark: linear-gradient(
      84deg,
      rgba(0, 136, 0, 0) -99.58%,
      rgba(0, 136, 0, 0.25) -70.18%,
      #06877a 110.41%
    ),
    linear-gradient(
      84deg,
      rgba(11, 196, 9, 0) -99.58%,
      #0bc409 -70.18%,
      #06c8bb 110.41%
    );
  --states-red: theme("colors.states.red");
  --states-orange: theme("colors.states.orange");
  --states-yellow: theme("colors.states.yellow");
  --states-blue: theme("colors.states.blue");
  --states-green: theme("colors.states.green");

  --radius: 0.8rem;
  --radius-sm: 0.6rem;
}

html {
}
html,
body {
  height: 100vh;
  color: var(--foreground);
  background: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 10px;
}
::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--primary-green);
}
::-webkit-scrollbar-button {
}
#__next {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
}
.dark {
  --background: #e8ebee;
}

h1 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.3;
}
h2 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

@layer base {
  :root {
    --sidebar-background: var(--gray-9);
    --sidebar-foreground: var(--white);
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: var(--primary-cyan);
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: var(--gray-9);
    --sidebar-foreground: var(--white);
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: var(--primary-cyan);
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    /* @apply border-border; */
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}
@layer base {
  * {
    /* @apply border-border; */
  }
  body {
    @apply bg-background text-foreground;
  }
}
